[submodule "engine/lib/entityx"]
	path = Game/lib/engine/lib/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "engine/lib/glm"]
	path = Game/lib/engine/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/lib/glfw"]
	path = Game/lib/engine/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/lib/gl3w"]
	path = Game/lib/engine/lib/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "engine/lib/stb"]
	path = Game/lib/engine/lib/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/lib/assimp"]
	path = Game/lib/engine/lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Game/lib/tmxlite"]
	path = Game/lib/tmxlite
	url = https://github.com/fallahn/tmxlite.git
